POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=github_actions_db
POSTGRES_PORT=5432
POSTGRES_SERVER=localhost
BASE_URL=http://localhost:3000
EMAIL_SENDER=someawesomeemail@gmail.com
EMAIL_PASSWORD=xxxxxxxxxxx
EMAIL_SERVER=smtp.gmail.com
EMAIL_PORT=587
URL_PATH=/users/reset-password/new-password
SECRET=RMi7R08iX02B8s85QXmXvCK7
REFRESH_SECRET=2B8s85QXmXvCK7RMi7R08iX0
EMAIL_PASSWORD=5ioVUFj4KdOF1aR15iLS9HvZ
CLOUDINARY_CLOUD_NAME=Xl9q9TVz88jF8gxrb9XudOX2
CLOUDINARY_API_KEY=Jfu39X7wCmS05aBd2oJb9j3c
CLOUDINARY_API_SECRET=7W8b0ksC84cQq9n97tXqu8gW